.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: '#2A363B';
}
.linkActive {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: 'tomato';
}
